<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @grade.course %>
</p>

<p>
  <b>Task:</b>
  <%= @grade.task %>
</p>

<p>
  <b>Student:</b>
  <%= @grade.student %>
</p>

<p>
  <b>Earned:</b>
  <%= @grade.earned %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
