<h1>Listing teams</h1>
  <%= render 'layouts/tabletop' %>
    <th>Name</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr class="info">
    <td><%= team.name %></td>
    <td><%= Course.find(team.course).name %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%= render 'layouts/tablebot'%>

<button class="btn btn-mini"><%= link_to 'New Team', new_team_path %></button>
