<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Course:</b>
  <%= Course.find(@team.course).name %>
</p>

<table>
  <tr>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team.students.each do |student| %>
  <tr>
    <td><%= student.username %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
