<%= form_for(@tempup) do |f| %>
  <% if @tempup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tempup.errors.count, "error") %> prohibited this tempup from being saved:</h2>

      <ul>
      <% @tempup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upname %><br />
    <%= f.text_field :upname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
