<h1>Listing tempups</h1>

<table>
  <tr>
    <th>Upname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tempups.each do |tempup| %>
  <tr>
    <td><%= tempup.upname %></td>
    <td><%= link_to 'Show', tempup %></td>
    <td><%= link_to 'Edit', edit_tempup_path(tempup) %></td>
    <td><%= link_to 'Destroy', tempup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tempup', new_tempup_path %>
