<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :Course %>
		<%= f.collection_select :course_id, Course.all, :id, :name, :prompt => "Select a Course" %>
  </div>
  <div class="field">
		<%= f.label :Category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Course" %><br />
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total %><br />
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
