<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Category</th>
    <th>Name</th>
    <th>Total</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= Course.find(task.course_id).name%></td>
    <td><%= Category.find(task.category_id).name %></td>
    <td><%= task.name %></td>
    <td><%= task.total %></td>
    <td><%= task.due_date %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
