<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Earned:</b>
  <%= @task.earned %>
</p>

<p>
  <b>Total:</b>
  <%= @task.total %>
</p>

<p>
  <b>Due:</b>
  <%= @task.due %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
