<h1>Listing students</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Username</th>
    <th>Team</th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= Course.find(student.course).name %></td>
    <td><%= student.username %></td>
    <td><%= Team.find(student.team).name %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>

<h2>Or Upload Student list</h2>
<%= form_tag({:action => :upload_student}, :multipart => true) do %>
  <%= file_field_tag 'student_file' %>
  <%= submit_tag "Upload" %>
<% end %>
