<h1>MyGrades</h1>
<%= link_to "Courses", courses_path %>
<%= link_to "Grades", grades_path %>
<%= link_to "Categories", categories_path %>
<%= link_to "Students", students_path %>
<%= link_to "Tasks", tasks_path %>
