<%= form_for(@eval) do |f| %>
  <% if @eval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eval.errors.count, "error") %> prohibited this eval from being saved:</h2>

      <ul>
      <% @eval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="field">
	<%= f.label :team %>
	<%= f.collection_select :team_id, Team.all, :id, :name, :include_blank => true, :prompt => "Select a Team" %><br />
</div>

<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
    	<% if false %>
		<% @teams = Eval.find(:params[:eval_id]) %>
    	<% @teams.students.each do |student| %>
  		<tr>
    		<td><%= student.name %></td>
  		</tr>
		<% end %>
		<% end %>
        <td width="50%" valign="top">
  			<div class="field">
    			<%= f.label :rating %>
    			<%= f.collection_select :rating, Eval::RATINGS, :to_s, :to_s, :include_blank => true, :prompt => "Select a Rating"%>
  			</div>
        </td>
        <td width="50%" valign="top">
            <p>However, if you take the time and effort
            of putting them into use, you'll find 
            that they really add to the aesthetics 
            and functionality of your work.</p>
        </td>
    </tr>
</table>

 
  <div class="field">
    <%= f.label :task %>
    <%= f.collection_select :task_id, Task.all, :id, :name, :include_blank => true, :prompt => "Select a Task" %><br />
  </div>
  
  <div class="field">
    <%= f.label :comments %>
    <%= text_area :eval, :comments, :cols => 60, :rows => 10 %><br />
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
