<h1>Listing courses</h1>
<%= render 'layouts/tabletop' %>
    <th>Name</th>
    <th>Semester</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr class="info">
    <td><%= course.name %></td>
    <td><%= course.semester %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%= render 'layouts/tablebot' %>
<button class="btn btn-mini"><%= link_to 'New Course', new_course_path %></button>
