<h1>Listing categories</h1>

  <%= render 'layouts/tabletop' %>
    <th>Name</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr class="info">
    <td><%= category.name %></td>
    <td><%= category.weight.to_f*100 %>%</td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  <%= render 'layouts/tablebot'%>
<button class="btn btn-mini"><%= link_to 'New Category', new_category_path %></button>
