<nav>
	<ul class="nav pull-right">
	  <a class="brand" href="http://www-ee.eng.hawaii.edu/~tep/info.html"> <img src="/assets/header_coev2.png"></a>
		<li> <%= link_to "Home", root_path%> </li>
		<li> <%= link_to "Courses", courses_path %> </li>
		<li> <%= link_to "Grades", grades_path %> </li>
		<li> <%= link_to "Categories", categories_path %> </li>
		<li> <%= link_to "Students", students_path %> </li>
		<li> <%= link_to "Tasks", tasks_path %> </li>
		<li> <%= link_to "Teams", teams_path %> </li>
	</ul>
</nav>