<%= link_to "MyGrades", root_path, :id => 'logo' %>
<nav>
	<ul class="nav pull-right">
				<li> <%= link_to "Courses", courses_path %> </li>
				<li> <%= link_to "Grades", grades_path %> </li>
				<li> <%= link_to "Categories", categories_path %> </li>
				<li> <%= link_to "Students", students_path %> </li>
				<li> <%= link_to "Tasks", tasks_path %> </li>
	</ul>
</nav>