<!doctype html>
<html>
  <head>
    <link rel="SHORTCUT ICON" href="/assets/logo.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MyGrades" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse" id="header">
      <nav class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://www-ee.eng.hawaii.edu/~tep/info.html"> <img src="/assets/coe.png"></a>
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer class="footer">
            <small>
              <a href="http://www-ee.eng.hawaii.edu"> University of Hawaii College of Engineering</a>  - Electrical Engineering
            </small>
                       
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
